body {
  background-color: #f7f7f7;
}

#toggle_oc_mode_box {
  padding: 4px;
  padding-right: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #dfe3ee;
  border-radius: 7px;
  background-color: white;
}

#toggle_oc_mode_checkbox {
  display: none;
}

input.toggle-switch + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: #dfe3ee;
  border-radius: 20px;
  vertical-align: middle;
  font-family: Tahoma,sans-serif;
  font-size: 10pt;
}

input.toggle-switch + label::before,
input.toggle-switch + label::after {
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right:1px;
  content: "";
}

input.toggle-switch + label::before {
  right: 1px;
  background-color: #f0f0f0;
  border-radius: 20px;
  transition: background 0.4s;
}

input.toggle-switch + label::after {
  width: 19px;
  background-color: white;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #dfe3ee;
  transition: margin 0.4s;
}

input.toggle-switch:checked + label::before {
  background-color: #8b9dc3;
}

input.toggle-switch:checked + label::after {
  margin-left: 21px;
}
